# Portainer stack name: cliente-b
# Compose path: stacks/docker-compose.yml
# SIP test: sipsak ... -r 5160
# sngrep:   SIP_NETWORK=cliente-b_sip_net

POSTGRES_PASSWORD=changeme_cliente_b
HAPROXY_BACKEND_SERVERS=38.68.135.36:8080,167.88.62.66:8080

OPENSIPS_SIP_PORT=5160
OPENSIPS_ALT_SIP_PORT=5170
OPENSIPS_EXPORTER_PORT=9435
FREESWITCH_EXPORTER_PORT_1=9284
FREESWITCH_EXPORTER_PORT_2=9285

FS1_RTP_START_PORT=19660
FS1_RTP_END_PORT=21297
FS2_RTP_START_PORT=21298
FS2_RTP_END_PORT=22935

DISPATCHER_DESTINATIONS=sip:freeswitch-1:5080,sip:freeswitch-2:5080

OPENSIPS_ADDRESS_IP=0.0.0.0/0
CARRIER_ROUTES=prefix:52,split:2,host:pbx-lab.piwiit.com:5080

FS_EXTERNAL_RTP_IP=203.0.113.10
FS_EXTERNAL_SIP_IP=auto

MEDIA_OUT=false
VXT_ANSWER_DETECT=false
TIMEOUTMS_ANSWER_VXT=2300
VXT_WS_EXCLUDE_PREANSWER=
VXT_WS_EXCLUDE_ANSWER=
