# Portainer stack name: cliente-c
# Compose path: stacks/docker-compose.yml
# SIP test: sipsak ... -r 5260
# sngrep:   SIP_NETWORK=cliente-c_sip_net

POSTGRES_PASSWORD=changeme_cliente_c
HAPROXY_BACKEND_SERVERS=38.68.135.36:8080,167.88.62.66:8080

OPENSIPS_SIP_PORT=5260
OPENSIPS_ALT_SIP_PORT=5270
OPENSIPS_EXPORTER_PORT=9436
FREESWITCH_EXPORTER_PORT_1=9286
FREESWITCH_EXPORTER_PORT_2=9287

FS1_RTP_START_PORT=22936
FS1_RTP_END_PORT=24573
FS2_RTP_START_PORT=24574
FS2_RTP_END_PORT=26211

DISPATCHER_DESTINATIONS=sip:freeswitch-1:5080,sip:freeswitch-2:5080

OPENSIPS_ADDRESS_IP=0.0.0.0/0
CARRIER_ROUTES=prefix:52,split:2,host:pbx-lab.piwiit.com:5080

FS_EXTERNAL_RTP_IP=203.0.113.10
FS_EXTERNAL_SIP_IP=auto

MEDIA_OUT=false
VXT_ANSWER_DETECT=false
TIMEOUTMS_ANSWER_VXT=2300
VXT_WS_EXCLUDE_PREANSWER=
VXT_WS_EXCLUDE_ANSWER=
