# Portainer stack name: cliente-e
# Compose path: stacks/docker-compose.yml
# SIP test: sipsak ... -r 5460
# sngrep:   SIP_NETWORK=cliente-e_sip_net

POSTGRES_PASSWORD=changeme_cliente_e
HAPROXY_BACKEND_SERVERS=38.68.135.36:8080,167.88.62.66:8080

OPENSIPS_SIP_PORT=5460
OPENSIPS_ALT_SIP_PORT=5470
OPENSIPS_EXPORTER_PORT=9438
FREESWITCH_EXPORTER_PORT_1=9290
FREESWITCH_EXPORTER_PORT_2=9291

FS1_RTP_START_PORT=29488
FS1_RTP_END_PORT=31125
FS2_RTP_START_PORT=31126
FS2_RTP_END_PORT=32768

DISPATCHER_DESTINATIONS=sip:freeswitch-1:5080,sip:freeswitch-2:5080

SRC_IP_WHITELIST=0.0.0.0/0
CARRIER_ROUTES=prefix:52,split:2,host:pbx-lab.piwiit.com:5080

FS_EXTERNAL_RTP_IP=203.0.113.10
FS_EXTERNAL_SIP_IP=auto

MEDIA_OUT=false
VXT_ANSWER_DETECT=false
TIMEOUTMS_ANSWER_VXT=2300
VXT_WS_EXCLUDE_PREANSWER=
VXT_WS_EXCLUDE_ANSWER=
