#
# OpenSIPS residential configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# This script was generated via "make menuconfig", from
#   the "Residential" scenario.
# You can enable / disable more features / functionalities by
#   re-generating the scenario with different options.#
#
# Please refer to the Core CookBook at:
#      https://opensips.org/Resources/DocsCookbooks
# for a explanation of possible statements, functions and parameters.
#

####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

/* 0 = error, 1 = warning, 2 = notice, 3 = info, 4 = debug */

log_level=1
xlog_level=1
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0
disable_503_translation = yes
udp_workers=20

/* uncomment the next line to enable the auto temporary blacklisting of 
   not available destinations (default disabled) */
#disable_dns_blacklist=no

/* uncomment the next line to enable IPv6 lookup after IPv4 dns 
   lookup failures (default disabled) */
#dns_try_ipv6=yes

#DO NOT EDIT THIS
# BEGIN ANSIBLE LISTEN BLOCK
socket=udp:0.0.0.0:5060
socket=udp:0.0.0.0:5070
# END ANSIBLE LISTEN BLOCK

####### Modules Section ########

server_header="Server: Piwiit-voxtrigger"
user_agent_header="User-Agent: Piwiit-voxtrigger"


#mhomed=1

#set module path
mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"


#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 10)
modparam("tm", "fr_inv_timeout", 180)
modparam("tm", "restart_fr_on_each_reply", 1)
modparam("tm", "pass_provisional_replies", 1)  # Pasar respuestas provisionales
modparam("tm", "onreply_avp_mode", 1)
modparam("tm", "auto_100trying", 1)      # Auto 100 Trying



#### Record Route Module
loadmodule "rr.so"
/* do not append from tag to the RR (no need for this script) */
modparam("rr", "append_fromtag", 1)

#### MAX ForWarD module

loadmodule "maxfwd.so"

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### USeR LOCation module
loadmodule "usrloc.so"
modparam("usrloc", "nat_bflag", "NAT")
modparam("usrloc", "working_mode_preset", "single-instance-no-db")

#### REGISTRAR module
loadmodule "registrar.so"
modparam("registrar", "tcp_persistent_flag", "TCP_PERSISTENT")
/* uncomment the next line not to allow more than 10 contacts per AOR */
#modparam("registrar", "max_contacts", 10)

#### ACCounting module
loadmodule "acc.so"
/* what special events should be accounted ? */
modparam("acc", "early_media", 0)
modparam("acc", "report_cancels", 0)
/* by default we do not adjust the direct of the sequential requests.
   if you enable this parameter, be sure to enable "append_fromtag"
   in "rr" module */
modparam("acc", "detect_direction", 0)

loadmodule "proto_udp.so"


# -------------------------------------------------------- #
#                          Piwiit                          #
# -------------------------------------------------------- #

# set database URL
db_default_url = "postgres://postgres:CHANGEME@localhost/opensips"

loadmodule "nathelper.so"
loadmodule "textops.so"
loadmodule "uac.so"

# ---------------------- Permissions --------------------- #
loadmodule "permissions.so"
modparam("permissions", "db_url", "postgres://postgres:CHANGEME@localhost/opensips")

# ---------------------- Dispatcher ---------------------- #
loadmodule "dispatcher.so"
#modparam("dispatcher", "db_url", DBURL)
modparam("dispatcher", "ds_ping_interval", 30)          #How often to ping destinations to check status
modparam("dispatcher", "ds_ping_method", "OPTIONS")     #Send SIP Options ping
modparam("dispatcher", "ds_probing_threshold", 10)      #How many failed pings in a row do we need before we consider it down
#modparam("dispatcher", "ds_probing_mode", 1)            #Keeps pinging gateways when state is known (to detect change in state)
modparam("dispatcher", "dst_avp", "$avp(271)")

# ----------------------- Postgres ----------------------- #
loadmodule "db_postgres.so"
modparam("db_postgres", "max_db_queries", 50)
modparam("db_postgres", "exec_query_threshold", 60000)

# --------------------- Carrierroute --------------------- #
loadmodule "carrierroute.so"
modparam("carrierroute", "config_source", "db")
#modparam("carrierroute", "db_url", DBURL)
modparam("carrierroute", "db_table", "carrierroute")
modparam("carrierroute", "default_tree", "default")

# ------------------------- Stats ------------------------ #

loadmodule "httpd.so"
loadmodule "mi_http.so"
modparam("httpd", "ip", "0.0.0.0")



#modparam("db_postgres", "database_url", "postgres://postgres:CG5zxc8kD9KogfQZSg@localhost/opensips")

####### Routing Logic ########

# main request routing logic

route{

	if (!mf_process_maxfwd_header(10)) {
		send_reply(483,"Too Many Hops");
		exit;
	}


	if (has_totag()) {

		# handle hop-by-hop ACK (no routing required)
		if ( is_method("ACK") && t_check_trans() ) {
			t_relay();
			exit;
		}

		# sequential request within a dialog should
		# take the path determined by record-routing
		if ( !loose_route() ) {
			# we do record-routing for all our traffic, so we should not
			# receive any sequential requests without Route hdr.
			send_reply(404,"Not here");
			exit;
		}

		if (is_method("BYE")) {
			# do accounting even if the transaction fails
			do_accounting("log","failed");
		}

		# route it out to whatever destination was set by loose_route()
		# in $du (destination URI).
		route(RemoveHeader);
		route(relay);
		exit;
	}

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans())
			t_relay();
		exit;
	}

	# --- OPTIONS keepalive / health-check ---
    if (is_method("OPTIONS")) {
        sl_send_reply(200, "OK");
        exit;
    }
	

	# absorb retransmissions, but do not create transaction
	t_check_trans();

	/*if ( !(is_method("REGISTER")  ) ) {
		
		if (is_myself("$fd")) {
					
		} else {
			# if caller is not local, then called number must be local
			
			if (!is_myself("$rd")) {
				send_reply(403,"Relay Forbidden");
				exit;
			}
		}

	}*/

	# preloaded route checking
	if (loose_route()) {
		xlog("L_ERR",
			"Attempt to route with preloaded Route's [$fu/$tu/$ru/$ci]");
		if (!is_method("ACK"))
			send_reply(403,"Preload Route denied");
		exit;
	}

	# record routing
	if (!is_method("REGISTER|MESSAGE"))
		record_route();

	# account only INVITEs
	if (is_method("INVITE")) {
		do_accounting("log");
		fix_nated_contact();
		route(INGRESS);
	}

	
	if (!is_myself("$rd")) {
		append_hf("P-hint: outbound\r\n"); 
		
		route(relay);
	}

	# requests for my domain
	
	if (is_method("PUBLISH|SUBSCRIBE")) {
		send_reply(503, "Service Unavailable");
		exit;
	}

	if (is_method("REGISTER")) {
		# store the registration and generate a SIP reply
		if (!save("location"))
			xlog("failed to register AoR $tu\n");

		exit;
	}

	if ($rU==NULL) {
		# request with no Username in RURI
		send_reply(484,"Address Incomplete");
		exit;
	}

	# do lookup with method filtering
	if (!lookup("location","method-filtering")) {
		t_reply(404, "Not Found");
		exit;
	}


	# when routing via usrloc, log the missed calls also
	do_accounting("log","missed");
	route(relay);
}

route[relay] {
	# for INVITEs enable some additional helper routes
	if (is_method("INVITE")) {
		t_on_branch("per_branch_ops");
		t_on_reply("MAIN_REPLY");
		t_on_failure("missed_call");
	}

	if (!t_relay()) {
		send_reply(500,"Internal Error");
	}
	exit;
}



# -------------------  LOGIC START------------------ #

route[INGRESS] {
	xlog("L_NOTICE", "Ingress Route [from: $fu to: $ru]  $si:$sp $socket_in(proto)\n");
	if (!is_method("INVITE")) return;
	
	if (ds_is_in_list($si,$sp)) {
		route(FROM_SERVICE);
	}

	if (!check_address(1, $si, $sp,$socket_in(proto))) {
		xlog("L_ERR", "User not found\n");
		sl_send_reply(403, "Forbidden");
		exit;
	}

	route(FROM_USER);

}

# -------------------- INGRESS ROUTES------------------- #
route[FROM_SERVICE]{
	xlog("L_INFO", "----------------- CALL FROM PIWIIT SERVICE [$ru] ---------------\n");
	if(!is_method("INVITE")) return;
	if (!is_present_hf("P-SERVICE")) {
		xlog("L_DBG", "----------------- REMOVING PROPIETARY HEADERS [$ru] ---------------\n");
		route(RemoveHeader);
		route(TO_CARRIER);
	}
	route(TO_PWT_SERVICE);
}

route[FROM_USER]{
	xlog("L_INFO", "----------------- CALL FROM USER [$ru] ---------------\n");
	if(!is_method("INVITE")) return;
	if ($(rU{s.len}) < 10 || $(rU{s.len}) > 50) {
		xlog("L_ERR", "Destination number length is out of range\n");
		sl_send_reply(404, "Not Found");
		exit;
	}
	# fix_nated_contact();

	$avp(destination_number) = $(rU{s.substr,-10,0});
	$avp(prefix_length) = $(rU{s.len}) - 10;
	$avp(rcv_from) = $si;
	$avp(user_uri) = $rU + "@" + $avp(rcv_from) + ":" + $sp;

	if ($avp(prefix_length) > 0) {
		$avp(in_prefix) = $(rU{s.substr,0,$avp(prefix_length)});
	}
	
	route(TO_PWT_SERVICE);
}

# -------------------- EGRESS ROUTES------------------- #
route[TO_PWT_SERVICE]{
	xlog("L_INFO", "----------------- CALL TO PIWIIT SERVICE [$ru] ---------------\n");
	if(!is_method("INVITE")) return;
	## $avp(in_prefix)=$(hdr(P-EgressRoute)); #NOTE: Verficar si es necesario
	## $rU=$avp(destination_number);#NOTE: envia solo los 10 dig a voxtrigger

	if(!ds_select_dst(101, 4)){
		xlog("L_ERR", "Service Destination NOT found or all servers are Inactive\n");
		send_reply(404, "No destination");
		exit;
	}
	append_hf("P-pwt-in-prefix: $avp(in_prefix)\r\n");
	append_hf("P-pwt-user-uri: $avp(user_uri)\r\n");
	append_hf("P-pwt-src-ip: $avp(rcv_from):$sp\r\n");

	xlog("L_DBG", "--- SCRIPT: going to <$ru> via <$du>\n");
	route(relay);
}


route[TO_CARRIER]{
	xlog("L_INFO", "----------------- CALL TO CARRIER [$ru] [$fU] [$fd] ---------------\n");
	if(!is_method("INVITE")) return;


	### Autenticación
    ##if (!auth_check("$fU", "subscriber", "1")) {
    ##    auth_challenge("$fU", "0");
    ##    exit;
    ##}


	xlog("L_NOTICE","Antes fU: $fU  fd: $fd  rU: $rU -- ru: $ru  -- tu: $tu -- tU: $tU --Display_name: $fn");

	$avp(domain) = "1";
	if (!cr_route("start", $avp(domain), $rU, $rU, "call_id", $avp(cr_destination))) {
		xlog("L_NOTICE","Service not available no gateways found");
		sl_send_reply(404, "Service not available - no gateways found");
		exit;
	}


	# Send to modifications route:
	route(outboundModifications);
	
	xlog("L_NOTICE","New From: $avp(cr_destination) $avp(new_from_user) -- $avp(new_from_user2) -- $avp(new_from_domain) --- $fU y $fd RU: $rU $ru  -- TU: $tu -- $tU");
	##$avp(host) = $rd + ":" + $rp;
	t_on_failure("CARRIER_FAIL_ROUTE");
	route(relay);
}


# ---------------- FAIL ROUTES--------------- #

failure_route[CARRIER_FAIL_ROUTE] {
	xlog("L_INFO", "--- Enter to CARRIER_FAIL_ROUTE IP: $si \n");
	route(RemoveHeader);
	if (t_was_cancelled()) {
		exit;
	}
	revert_uri();
	if (t_check_status("408|[56][09][09]"))  {
		xlog("L_DBG", "--- Choosing Next GW FAIL ROUTE- IP: $si  \n");
		if (!cr_next_domain("start", $avp(domain), $rU,
			$avp(host), $T_reply_code, $avp(domain))) {
			xlog("L_ERR", "cr_next_domain failed\n");
			exit;
		}
		if (!cr_route("start", $avp(domain), $rU, $rU,
			"call_id")) {
			xlog("L_ERR", "cr_route failed\n");
			exit;
		}
	}
	##t_on_failure("CARRIER_FAIL_ROUTE");
	##if (!t_relay()) {
	##	xlog("L_ERR", "t_relay failed\n");
	##	exit;
	##};	
}


# ---------------- FAIL ROUTES--------------- #




# Fix user-agent and server
route[RemoveHeader] {
        remove_hf("user-agent");
		remove_hf("P-pwt-in-prefix");
		remove_hf("P-pwt-user-uri");
		remove_hf("P-pwt-src-ip");
		remove_hf("Remote-Party-ID");
		remove_hf("X-FS-Support");
        return;
}

route[outboundModifications] {
	xlog("L_INFO", "--- Enter to OUTBOUNDMODIFICATIONS ROUTE - IP: $si \n");
	#delete display name
	#$fn = $null;

	#uac_replace_from("sip:anon@anon.com", "");


	# ----------------- return call to src IP ---------------- #
	if ($avp(cr_destination) == "return2src" ){
		$ru = "sip:" + $rU + "@" + $hdr(P-pwt-src-ip);
		xlog("L_NOTICE", "--- Return to source IP is Active ---\n");
		xlog("L_INFO", "--- URI was modified to $ru ---\n");
	}

	# ----------------- Change From VINOC ---------------- #
	if ($avp(cr_destination) =~ "vinoc.mx" ){
		uac_replace_from(" ", "sip:8005123422@siplab.piwiit.com");
		xlog("L_NOTICE", "--- Change VINOC from ---\n");
		xlog("L_INFO", "--- URI was modified to $ru ---\n");
	}

	# --------------- Replace TO header to URI --------------- #
	uac_replace_to("VoxTrigger", $ru);

	# ------------- rewrite users in from header ------------- #
	$avp(new_from_domain) = $(avp(new_from){s.select,-1,@});
	$avp(users) = $(avp(new_from){s.select,0,@});

	$avp(new_from_user) = $(avp(users){s.select,0,,});
	$avp(new_from_user2) = $(avp(users){s.select,1,,});


	if ($avp(new_from_user2) != '') {
		$avp(new_from_user) = $avp(new_from_user) + "@" + $avp(new_from_user2);
	}

	#TODO: new route modifications of outbound all

	if ($avp(cr_destination) =~ "@") {
		xlog("L_NOTICE", "Replace From header: $avp(new_from_user)@$avp(new_from_domain)");

		# Construye la URI
		$var(new_from_uri) = "sip:" + $avp(new_from_user) + "@" + $avp(new_from_domain);

		# Usa uac_replace_from con display name vacío
		uac_replace_from($var(new_from_uri), "");
	}

	xlog("L_NOTICE","despues fU: $fU  fd: $fd  rU: $rU -- ru: $ru  -- tu: $tu -- tU: $tU");
	##insert_hf("To: sip:92001525548901373@$rd\r\n", "From"); 

	return;
}

branch_route[per_branch_ops] {
	xlog("new branch at $ru\n");
}


onreply_route[MAIN_REPLY] {

    route(HANDLE_NAT_REPLY);
    route(MODIFY_Q850_REPLY);
}
route[MODIFY_Q850_REPLY] {

    xlog("incoming reply [MODIFY_Q850_REPLY] $hdr(Reason) -- $rm, $rs, $rr, \n");


    if ($rs == "487" && $rr =~ "^VMDetected Early$") {
        xlog("L_INFO", "Match with VMDetected Early\n");
        remove_hf("Reason");
        append_hf(
            "Reason: SIP;Q.850;cause=50;text=\"VMDETECTED_EARLY\"\r\n"
        );
        xlog("L_INFO", "Q850 Modified\n");
    }
    if ($rs == "487" && $rr =~ "^VMDetected Answer$") {
        xlog("L_INFO", "Match with VMDetected Answer\n");
        remove_hf("Reason");
        append_hf(
            "Reason: SIP;Q.850;cause=53;text=\"VMDETECTED_ANSWER\"\r\n"
        );
        xlog("L_INFO", "Q850 Modified\n");
    }
}


route[HANDLE_NAT_REPLY] {
	xlog("incoming reply [handle_nat]\n");
	fix_nated_contact();
}


failure_route[missed_call] {
	route(RemoveHeader);
	if (t_was_cancelled()) {
		exit;
	}

	# uncomment the following lines if you want to block client 
	# redirect based on 3xx replies.
	##if (t_check_status("3[0-9][0-9]")) {
	##t_reply(404,"Not found");
	##	exit;
	##}

	
}
